@import "./reset.css";

* {
    box-sizing: border-box;
}
:root {
    font-size: 14px;
}
body {
    background: silver;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userCard {
    --colorCard: #fafbfc;
    --colorTop: #3a355c;
    --colorLogo: silver;

    --padding-value: 30px;
    --imageSize: 150px;

    font-family: "Roboto", sans-serif;
    font-size: 18px;
    /* color: rgb(51, 51, 51);*/
    text-align: center;
    width: 300px;
    background: var(--colorCard);

    padding-top: 80px;

    position: relative;
    border-radius: 0 0 10px 10px;
}

.photo {
    width: var(--imageSize);
    /*max-width: 100%;*/
    height: var(--imageSize);
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 150%;
    border: 2px solid var(--colorCard);
    overflow: hidden;
    position: absolute;
    top: calc(var(--imageSize) / -2);
    right: 70px;
}
.userCard:before {
    content: "";
    background-color: var(--colorTop);
    position: absolute;
    height: 150px;
    width: inherit;

    right: 0;
    top: -100px;
    z-index: -1;
    border-radius: 10px;
}
.userInfoContainer {
    font-size: 1rem;
}

h1.serFullName {
    color: var(--colorTop);
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 700;
}

h2.userProfession {
    color: var(--colorTop);
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
}
.userText {
    padding: 15px;
}

.userStatItem {
    background: var(--colorCard);
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    align-items: center;
    border-radius: 10px;
}
.logo {
    display: inline-block;

    max-width: 150px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid var(--colorLogo);
    color: var(--colorLogo);
    margin-top: auto;
}

.logo + .logo {
    border-left: 1px solid var(--colorLogo);
}
